<h1>Buscando: <small>{{ termino }}</small></h1>
<hr>
<br>
<div class="row row-cols-2 row-cols-md-3 g-4">
<div class="col animated fadeIn fast" *ngFor="let heroe of heroes; let i = index">
    <div class="card h-100" >
      <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
      <div class="card-body">
        <h5 class="card-title">{{ heroe.nombre }}</h5>
        <p class="card-text">{{ heroe.bio }}</p>
        <div class="d-grid gap-2" >
            <!-- <button (click)="verHeroe(i)" class="btn btn-outline-primary" type="button">Ver mas</button> -->

            <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver mas ... link</a> -->
        </div>
    </div>
      <div class="card-footer">
        <small class="text-muted">Aparicion: {{ heroe.aparicion }}</small>
      </div>
    </div>
  </div>
</div>
